.depoimentos{
    min-height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    gap: 48px;
}
.imagem-chef{
    width: 500px;
    padding: 40px auto 0px auto;
    margin-top: 5%;
}
.depoimentos-content{
    width: 100%;
}
.area-feedbacks{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 30px;
}
.feedbacks{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px;
    border-radius: 12px;
    background-color: var(--color-neutra-2);
    box-shadow: 0px 0px 12px 4px rgba(0, 0, 0, 0.2);
}
.imagem-avatar{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}